mat-nav-list{
    min-width: 20vw;
}
.active{
    background-color:#dfccff ;
}
.active-link{
    font-weight: 500;
    color: #673ab7;
    text-decoration: none;
}
.rounded{
    border-radius: 20px;
}